{% extends "shopapp/base.html" %}

{% load i18n %}

{% block title %}
	{% translate "Update order" %}
{% endblock %}

{% block body %}
	<h1>{% translate "Update order" %}</h1>
    <div>
    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            {% translate "Update" %}
        </button>

    </form>
    </div>

    <div>
    <h3 style="color: darkmagenta">
    <a href="{% url "shopapp:order_details" pk=object.pk %}">
        {% translate "Back orders" %} #{{ object.pk }}
    </a>
    </h3>
    </div>
{% endblock %}