{% extends 'shopapp/base.html' %}

{% load i18n %}

{% block title %}
    {% translate "Details order" %} #{{ object.pk }}
{% endblock %}

{% block body %}
    <h1>{% translate "Order" %} #{{ object.pk }}</h1>
    <div>
        <h3>{% translate "Order by" %} {% firstof object.user.first_name object.user.username %}</h3>
        <p>{% translate "Promocode" %}: <code>{{ object.promocode }}</code></p>
        <p>{% translate "Delivery address" %}: {{ object.delivery_address }}</p>
        <div>
            {% translate "Products in order" %}:
            <ul>
                {% for product in object.product.all %}
                    <li>{{ product.name }} {% translate "for" %} ${{ product.price }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <h3><a href="{% url "shopapp:order_update" pk=object.pk %}">{% translate "Update order" %}</a></h3>
    <h3><a href="{% url "shopapp:order_delete" pk=object.pk %}">{% translate "Delete order" %}</a></h3>
    <h3><a href="{% url "shopapp:orders_list" %}">{% translate "Back to orders" %}</a></h3>

{% endblock %}