{% extends "shopapp/base.html" %}

{% load i18n %}

{% block title %}
	{% translate "Orders list" %}
{% endblock %}

{% block body %}
<h1>{% translate "Orders" %}:</h1>
    {% if object_list %}
        <div>
        {% for order in object_list %}
            <div>
            {% if user.is_authenticated %}
                <h3><a href="{% url "shopapp:order_details" pk=order.pk %}">{% translate "Details order" %} #{{ order.pk }}</a></h3>
            {% endif %}
            <p>{% translate "Order by" %} {% firstof order.user.first_name order.user.username %}</p>
            <p>{% translate "Promocode" %}: <code>{{ order.promocode }}</code></p>
            <p>{% translate "Delivery address" %}: {{ order.delivery_address }}</p>
            <div>
            {% translate "Products in order" %}:
            <ul>
                {% for product in order.product.all %}
                    <li>{{ product.name }} {% translate "for" %} ${{ product.price }}</li>
                {% endfor %}
            </ul>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <h3>{% translate "No orders yet" %}</h3>
    {% endif %}
    <div>
    {% if user.is_authenticated %}
        <h3 style="color: darkmagenta">
        <a href="{% url "shopapp:create_order" %}">
            {% translate "Create a new order" %}
        </a>
        </h3>
    {% endif %}
    </div>

    <div>
    <h3 style="color: darkmagenta">
    <a href="{% url "shopapp:index" %}">
        {% translate "Back to main menu Shop" %}
    </a>
    </h3>
    </div>
{% endblock %}