{% extends "shopapp/base.html" %}

{% load i18n %}

{% block title %}
	{% translate "Create product" %}
{% endblock %}


{% block body %}
	<h1>{% translate "Create a new product" %}</h1>
    <div>
    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">{% translate "Create"%}</button>
    </form>
    </div>
    <div>
    <h3 style="color: darkmagenta">
    <a href="{% url "shopapp:products_list" %}">
        {% translate "Back to products list"%}
    </a>
    </h3>
    </div>
{% endblock %}