{% extends 'shopapp/base.html' %}

{% load i18n %}

{% block title %}
    {% translate 'Product details' %} #{{ product.pk }}
{% endblock %}

{% block body %}
    <h1>{% translate "Product" context "product name" %}: <strong>{{ product.name }}</strong></h1>
    <div>
        <h4>{% translate "Description" %}: <em>{{ product.description }}</em></h4>
        <div>{% translate "Price" %}: {{ product.price }}</div>
        <div>{% translate "Discount" %}: {{ product.discount }}</div>
        <div>{% translate "Archived" %}: {{ product.archived }}</div>
    </div>

    {% if user.is_authenticated %}
        <h3><a href="{% url "shopapp:product_update" pk=product.pk %}">Update product</a></h3>
    {% endif %}
    {% if user.is_authenticated %}
        <h3><a href="{% url "shopapp:product_delete" pk=product.pk %}">Archive product</a></h3>
    {% endif %}
    <h3><a href="{% url "shopapp:products_list" %}">Back to products list</a></h3>
{% endblock %}