{% extends "shopapp/base.html" %}

{% load i18n %}

{% block title %}
    {% translate "Shop Index" %}
{% endblock %}


{% block body %}
    <h1>{% translate "Hello dear user! We are glad to welcome you to our store!" %}</h1>
    <h2>{% translate "Dear user, in order to get acquainted with all the features of our store, you must register and log in" %}</h2>
    <div>
        <h4><a href="{% url "myauth:login" %}">{% translate "Come in" %}</a></h4>
    </div>
    <div>
        <h4><a href="{% url "myauth:register" %}">{% translate "Register a new user" %}</a></h4>
    </div>
    <div>
        <h4><a href="{% url "myauth:about-me" %}">{% translate "Current user page" %}</a></h4>
    </div>

    <div>
        <h3><a href="{% url "shopapp:products_list" %}">{% translate "Go to Products_list" %}</a></h3>
    </div>
    <div>
        <h3><a href="{% url "shopapp:orders_list" %}">{% translate "Go to Orders_list" %}</a></h3>
    </div>
     <div>
        <h3><a href="{% url "myauth:users" %}">{% translate "Go to Users_list" %}</a></h3>
    </div>

    <div>
        {% now "H:i" %}
    </div>
    <div>
        {% now "l" as weekday %}
        {% translate "Today is" %} {{ weekday }}
    </div>
    <div>
        <h4><a href="{% url "myauth:logout_confirm" %}">{% translate "Get out" %}</a></h4>
    </div>

{% endblock %}


