{% extends "myauth/base.html" %}

{% load i18n %}

{% block title %}
	{% translate "About me" %}
{% endblock %}

{% block body %}
    <h1>{% translate "User info" %}</h1>
    {% if user.is_authenticated %}
        <p>{% translate "Username" %}: {{ user.username }}</p>
        <p>{% translate "First name" %}: {{ user.first_name }}</p>
        <p>{% translate "Last name" %}: {{ user.last_name }}</p>
        <p>{% translate "Email" %}: {{ user.email }}</p>
        <p>Bio: {{ user.profile.bio }}</p>
        {% if user.profile.avatar %}
            <img src="{{ user.profile.avatar.url }}" alt="Avatar">
        {% else %}
            <h3 style="color: darkviolet">
                {% translate "This user does not have an avatar yet, use the form below to set an avatar" %}
            </h3>
        {% endif %}
        <form method="post" enctype="multipart/form-data" action={% url "myauth:upload-avatar_me" %}>
            {% csrf_token %}
            <label for="avatar">{% translate "Upload new avatar" %}:</label>
            <input type="file" name="avatar" id="avatar">
            <button type="submit">{% translate "Upload" %}</button>
        </form>
        <h3 style="color: darkmagenta">
        <a href="{% url "myauth:user_update" pk=user.pk %}">
            {% translate "Change personal data" %}
        </a>
        </h3>
    {% else %}
        <h2>{% translate "User is anonymous" %}</h2>
    {% endif %}
    <h3 style="color: darkmagenta">
    <a href="{% url "shopapp:index" %}">
        {% translate "Back to main menu Shop" %}
    </a>
    </h3>
{% endblock %}