{% extends "myauth/base.html" %}

{% load i18n %}

{% block title %}
	{% translate "Update user" %}
{% endblock %}


{% block body %}
	<h1>{% translate "Update User Information" %}</h1>
    <div>
    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}
        {{ profile_form.as_p }}

        <button type="submit">
            {% translate "Update" %}
        </button>
    </form>
    </div>

    <div>
    <h3 style="color: darkmagenta">
    <a href="{% url "myauth:about-me" %}">
        {% translate "Back" %}
    </a>
    </h3>
    </div>
{% endblock %}